[submodule "blogdown"]
	path = in-blogdown
	url = git@github.com:rstudio/blogdown.git
[submodule "rmarkdown-book"]
	path = in-rmarkdown-book
	url = git@github.com:rstudio/rmarkdown-book.git
[submodule "bookdown-main"]
	path = in-bookdown-main
	url = git@github.com:rstudio/bookdown.git
[submodule "bookdown-test"]
	path = in-bookdown-test
	url = git@github.com:katrinabrock/bookdown.git
